*,
::before,
::after {
  --tw-border-spacing-x:0;
  --tw-border-spacing-y:0;
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness:proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#fff;
  --tw-ring-color:rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: 
}
::backdrop {
  --tw-border-spacing-x:0;
  --tw-border-spacing-y:0;
  --tw-translate-x:0;
  --tw-translate-y:0;
  --tw-rotate:0;
  --tw-skew-x:0;
  --tw-skew-y:0;
  --tw-scale-x:1;
  --tw-scale-y:1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness:proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width:0px;
  --tw-ring-offset-color:#fff;
  --tw-ring-color:rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow:0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-shadow:0 0 #0000;
  --tw-shadow-colored:0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: 
}
/* ! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com */*,
::after,
::before {
  box-sizing:border-box;
  border-width:0;
  border-style:solid;
  border-color:#e5e7eb
}
::after,
::before {
  --tw-content:''
}
:host,
html {
  line-height:1.5;
  -webkit-text-size-adjust:100%;
  -moz-tab-size:4;
  tab-size:4;
  font-family:ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings:normal;
  font-variation-settings:normal;
  -webkit-tap-highlight-color:transparent
}
body {
  margin:0;
  line-height:inherit
}
hr {
  height:0;
  color:inherit;
  border-top-width:1px
}
abbr:where([title]) {
  -webkit-text-decoration:underline dotted;
  text-decoration:underline dotted
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:inherit;
  font-weight:inherit
}
a {
  color:inherit;
  text-decoration:inherit
}
b,
strong {
  font-weight:bolder
}
code,
kbd,
pre,
samp {
  font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings:normal;
  font-variation-settings:normal;
  font-size:1em
}
small {
  font-size:80%
}
sub,
sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
sub {
  bottom:-.25em
}
sup {
  top:-.5em
}
table {
  text-indent:0;
  border-color:inherit;
  border-collapse:collapse
}
button,
input,
optgroup,
select,
textarea {
  font-family:inherit;
  font-feature-settings:inherit;
  font-variation-settings:inherit;
  font-size:100%;
  font-weight:inherit;
  line-height:inherit;
  letter-spacing:inherit;
  color:inherit;
  margin:0;
  padding:0
}
button,
select {
  text-transform:none
}
button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
  -webkit-appearance:button;
  background-color:transparent;
  background-image:none
}
:-moz-focusring {
  outline:auto
}
:-moz-ui-invalid {
  box-shadow:none
}
progress {
  vertical-align:baseline
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height:auto
}
[type=search] {
  -webkit-appearance:textfield;
  outline-offset:-2px
}
::-webkit-search-decoration {
  -webkit-appearance:none
}
::-webkit-file-upload-button {
  -webkit-appearance:button;
  font:inherit
}
summary {
  display:list-item
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin:0
}
fieldset {
  margin:0;
  padding:0
}
legend {
  padding:0
}
menu,
ol,
ul {
  list-style:none;
  margin:0;
  padding:0
}
dialog {
  padding:0
}
textarea {
  resize:vertical
}
input::placeholder,
textarea::placeholder {
  opacity:1;
  color:#9ca3af
}
[role=button],
button {
  cursor:pointer
}
:disabled {
  cursor:default
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display:block;
  vertical-align:middle
}
img,
video {
  max-width:100%;
  height:auto
}
[hidden]:where(:not([hidden=until-found])) {
  display:none
}
.pointer-events-none {
  pointer-events:none
}
.pointer-events-auto {
  pointer-events:auto
}
.absolute {
  position:absolute
}
.relative {
  position:relative
}
.inset-0 {
  inset:0px
}
.mx-2 {
  margin-left:0.5rem;
  margin-right:0.5rem
}
.mb-1 {
  margin-bottom:0.25rem
}
.mb-2 {
  margin-bottom:0.5rem
}
.mt-2 {
  margin-top:0.5rem
}
.mt-4 {
  margin-top:1rem
}
.flex {
  display:flex
}
.h-1 {
  height:0.25rem
}
.h-12 {
  height:3rem
}
.h-5 {
  height:1.25rem
}
.h-8 {
  height:2rem
}
.h-screen {
  height:100vh
}
.w-12 {
  width:3rem
}
.w-5 {
  width:1.25rem
}
.w-64 {
  width:16rem
}
.w-full {
  width:100%
}
.w-px {
  width:1px
}
.min-w-\[150px\] {
  min-width:150px
}
.max-w-md {
  max-width:28rem
}
.cursor-pointer {
  cursor:pointer
}
.select-none {
  -webkit-user-select:none;
  user-select:none
}
.appearance-none {
  -webkit-appearance:none;
  appearance:none
}
.flex-col {
  flex-direction:column
}
.flex-wrap {
  flex-wrap:wrap
}
.items-start {
  align-items:flex-start
}
.items-center {
  align-items:center
}
.justify-center {
  justify-content:center
}
.justify-between {
  justify-content:space-between
}
.gap-1 {
  gap:0.25rem
}
.gap-2 {
  gap:0.5rem
}
.gap-4 {
  gap:1rem
}
.gap-6 {
  gap:1.5rem
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse:0;
  margin-top:calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom:calc(0.5rem * var(--tw-space-y-reverse))
}
.overflow-hidden {
  overflow:hidden
}
.whitespace-nowrap {
  white-space:nowrap
}
.rounded {
  border-radius:0.25rem
}
.rounded-full {
  border-radius:9999px
}
.rounded-lg {
  border-radius:0.5rem
}
.rounded-xl {
  border-radius:0.75rem
}
.border {
  border-width:1px
}
.border-b {
  border-bottom-width:1px
}
.border-t {
  border-top-width:1px
}
.border-amber-500\/50 {
  border-color:rgb(245 158 11 / 0.5)
}
.border-cyan-500 {
  --tw-border-opacity:1;
  border-color:rgb(6 182 212 / var(--tw-border-opacity, 1))
}
.border-gray-700 {
  --tw-border-opacity:1;
  border-color:rgb(55 65 81 / var(--tw-border-opacity, 1))
}
.border-gray-800 {
  --tw-border-opacity:1;
  border-color:rgb(31 41 55 / var(--tw-border-opacity, 1))
}
.border-white\/10 {
  border-color:rgb(255 255 255 / 0.1)
}
.bg-amber-500\/20 {
  background-color:rgb(245 158 11 / 0.2)
}
.bg-black {
  --tw-bg-opacity:1;
  background-color:rgb(0 0 0 / var(--tw-bg-opacity, 1))
}
.bg-black\/60 {
  background-color:rgb(0 0 0 / 0.6)
}
.bg-cyan-900\/50 {
  background-color:rgb(22 78 99 / 0.5)
}
.bg-gray-500\/30 {
  background-color:rgb(107 114 128 / 0.3)
}
.bg-gray-700 {
  --tw-bg-opacity:1;
  background-color:rgb(55 65 81 / var(--tw-bg-opacity, 1))
}
.bg-gray-900\/50 {
  background-color:rgb(17 24 39 / 0.5)
}
.bg-black\/40 {
  background-color:rgb(0 0 0 / 0.4)
}
.p-2 {
  padding:0.5rem
}
.p-3 {
  padding:0.75rem
}
.p-4 {
  padding:1rem
}
.p-6 {
  padding:1.5rem
}
.px-3 {
  padding-left:0.75rem;
  padding-right:0.75rem
}
.py-1 {
  padding-top:0.25rem;
  padding-bottom:0.25rem
}
.px-2 {
  padding-left:0.5rem;
  padding-right:0.5rem
}
.pb-1 {
  padding-bottom:0.25rem
}
.pt-2 {
  padding-top:0.5rem
}
.font-mono {
  font-family:ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}
.text-2xl {
  font-size:1.5rem;
  line-height:2rem
}
.text-xs {
  font-size:0.75rem;
  line-height:1rem
}
.font-bold {
  font-weight:700
}
.uppercase {
  text-transform:uppercase
}
.tracking-wider {
  letter-spacing:0.05em
}
.text-amber-500 {
  --tw-text-opacity:1;
  color:rgb(245 158 11 / var(--tw-text-opacity, 1))
}
.text-blue-300 {
  --tw-text-opacity:1;
  color:rgb(147 197 253 / var(--tw-text-opacity, 1))
}
.text-cyan-100 {
  --tw-text-opacity:1;
  color:rgb(207 250 254 / var(--tw-text-opacity, 1))
}
.text-cyan-300 {
  --tw-text-opacity:1;
  color:rgb(103 232 249 / var(--tw-text-opacity, 1))
}
.text-cyan-400 {
  --tw-text-opacity:1;
  color:rgb(34 211 238 / var(--tw-text-opacity, 1))
}
.text-gray-200 {
  --tw-text-opacity:1;
  color:rgb(229 231 235 / var(--tw-text-opacity, 1))
}
.text-gray-400 {
  --tw-text-opacity:1;
  color:rgb(156 163 175 / var(--tw-text-opacity, 1))
}
.text-gray-500 {
  --tw-text-opacity:1;
  color:rgb(107 114 128 / var(--tw-text-opacity, 1))
}
.text-green-300 {
  --tw-text-opacity:1;
  color:rgb(134 239 172 / var(--tw-text-opacity, 1))
}
.text-orange-300 {
  --tw-text-opacity:1;
  color:rgb(253 186 116 / var(--tw-text-opacity, 1))
}
.text-red-500 {
  --tw-text-opacity:1;
  color:rgb(239 68 68 / var(--tw-text-opacity, 1))
}
.text-yellow-400 {
  --tw-text-opacity:1;
  color:rgb(250 204 21 / var(--tw-text-opacity, 1))
}
.text-white\/80 {
  color:rgb(255 255 255 / 0.8)
}
.text-white {
  color:rgb(255 255 255 / 0.8)
}
.text-green-500 {
  --tw-text-opacity:1;
  color:rgb(34 197 94 / var(--tw-text-opacity, 1))
}
.accent-cyan-500 {
  accent-color:#06b6d4
}
.shadow-2xl {
  --tw-shadow:0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored:0 25px 50px -12px var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.shadow-\[0_0_10px_rgba\(6\2c 182\2c 212\2c 0\.3\)\] {
  --tw-shadow:0 0 10px rgba(6,182,212,0.3);
  --tw-shadow-colored:0 0 10px var(--tw-shadow-color);
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.shadow-black\/50 {
  --tw-shadow-color:rgb(0 0 0 / 0.5);
  --tw-shadow:var(--tw-shadow-colored)
}
.backdrop-blur-md {
  --tw-backdrop-blur:blur(12px);
  -webkit-backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.backdrop-blur-sm {
  --tw-backdrop-blur:blur(4px);
  -webkit-backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}
.transition-all {
  transition-property:all;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms
}
.transition-colors {
  transition-property:color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property:color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property:color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration:150ms
}
.duration-300 {
  transition-duration:300ms
}
.duration-500 {
  transition-duration:500ms
}
.hover\:border-gray-500:hover {
  --tw-border-opacity:1;
  border-color:rgb(107 114 128 / var(--tw-border-opacity, 1))
}
.hover\:bg-amber-500\/30:hover {
  background-color:rgb(245 158 11 / 0.3)
}
.hover\:bg-white\/10:hover {
  background-color:rgb(255 255 255 / 0.1)
}
.hover\:text-white:hover {
  --tw-text-opacity:1;
  color:rgb(255 255 255 / var(--tw-text-opacity, 1))
}
